fastapi
uvicorn
langchain
langchain-community
langchain-openai
langchain-unstructured
unstructured[pdf]
python-dotenv
pydantic
requests
cassio
astrapy
beautifulsoup4
torch==2.2.1+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
onnxruntime==1.19.1
pytesseract==0.3.10
ocrmypdf==14.1.0
layoutparser==0.3.5
Pillow==11.3.0
scipy==1.15.3 --no-binary scipy
pypdf==5.8.0
